# backend/api/env.example

# Klucz tajny Django (przykład)
DJANGO_SECRET_KEY='your_django_secret_key_here'

# Tryb debugowania (True/False)
DJANGO_DEBUG='True'

# Dozwolone hosty (oddzielone przecinkami)
DJANGO_ALLOWED_HOSTS='localhost,127.0.0.1'

# Konfiguracja bazy danych PostgreSQL
DB_NAME='your_db_name'
DB_USER='your_db_user'
DB_PASSWORD='your_db_password'
DB_HOST='localhost'
DB_PORT='5432'